.text-36 {
  font-size: 36px;
}
.btn_channels {
  text-align: center;
  font-size: 18px;
}
.btn_channels a {
  color: #21b27f;
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 4px;
  border: 1px solid #21b27f;
}
.btn_channels a:hover {
  transition: 1s;
  color: #fff;
  background: #14cd82;
  border: 1px solid #14cd82;
}
.btn-express_footer {
  text-align: center;
  font-size: 18px;
  margin: auto;
  padding: 0 0 50px 0;
}
.btn-express_footer a {
  background: #22b37f;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 15px;
  color: #fff;
}
.btn-express_footer a:hover {
  transition: 1s;
  background: #28d094;
}
.img_size {
    width: 410px;
    height: 309px;
}
@media (min-width: 320px) {
  .cnt_sections {
    width: 100%;
    margin: auto;
    line-height: 40px;
    padding: 15px;
  }
  .cnt_sections.cnt_one {
    background: url("../images/img_banner_about_m.gif") no-repeat right bottom;
    background-size: 530px 245px;
    padding: 15px 15px 250px 15px;
  }
  .cnt_sections.cnt_two {
    width: 100%;
    text-align: center;
    line-height: 25px;
    padding: 65px 15px 250px 15px;
  }
  .cnt_sections.cnt_three {
    width: 100%;
    text-align: center;
    padding: 80px 0 100px 0;
    position: relative;
  }
  .cnt_sections.cnt_four {
    width: 100%;
    text-align: center;
    padding: 60px 15px;
    line-height: 25px;
    position: relative;
  }
  .cnt_sections.cnt_four img {
    margin: 20px 0;
  }
  .cnt_sections.cnt_footer {
    width: 100%;
    text-align: center;
    padding: 50px 15px 10px 15px;
  }
  .img_floating_channel {
    position: absolute;
    top: -192px;
    left: 16%;
    width: 260px;
    height: 240px;
    background: url("../images/img_ilus_channel_m.gif") no-repeat center 0;
    background-size: 261px 238px;
  }
  .img_arrow_channel {
    position: absolute;
    top: -60px;
    right: 25%;
    left: 25%;
    width: 50%;
    height: 255px;
    border-radius: 200px;
    background: #fff;
    padding: 25px 0 0 0;
  }
  .btn_channel-about {
    text-align: center;
    margin: 0px 0 0 0;
  }
  .btn_channel-knowledge {
    text-align: center;
    margin: 0px 0 -20px 0;
  }
  .img_margin {
    margin: 20px 0 0 0;
  }
  .img_size {
    width: 100%;
    height: 100%;
  }
  .float_right_img {
    float: none;
  }
  .float_left_img {
    float: none;
  }
}

@media (min-width: 576px) {
  .cnt_sections.cnt_one {
    background: url("../images/img_banner_about_d.gif") no-repeat right bottom;
    background-size: 672px 278px;
    padding: 15px 15px 230px 15px;
  }
  .img_size {
    width: 410px;
    height: 100%;
  }
  .btn_channel-about {
    text-align: center;
    margin: 10px 0 0 0;
}

@media (min-width: 640px) {
  .img_floating_channel {
    left: 30%;
  }
  .img_arrow_channel {
    right: 36%;
    left: 36%;
    width: 28%;
  }
}

@media (min-width: 1024px) {
  .cnt_sections {
    width: 950px;
    padding: 20px 0 80px 0;
  }
  .cnt_sections.cnt_one {
    background: url("../images/img_banner_about_d.gif") no-repeat right bottom;
    background-size: 672px 278px;
    padding: 15px 15px 140px 15px;

  }
  .cnt_sections.cnt_two {
    width: 660px;
    padding: 80px 0 250px 0;
  }
  .cnt_sections.cnt_three {
    width: 850px;
  }
  .cnt_sections.cnt_four {
    width: 950px;
    padding: 80px 15px;
  }
  .cnt_sections.cnt_footer {
    width: 550px;
    padding: 50px 0 10px 0;
  }
  .img_floating_channel {
    left: 24%;
    right: 24%;
    width: 435px;
    height: 240px;
    background: url("../images/img_ilus_channel_d.gif") no-repeat center 0;
    background-size: 435px 240px;
  }
  .btn_channel-about {
    text-align: left;
    margin: 0px 0 0 0;
  }
  .btn_channel-knowledge {
    text-align: left;
    margin: 50px 0 -20px 0;
  }
  .img_margin {
    margin: 60px 0 0 0;
  }
  .cnt_sections.cnt_four img {
    margin: 60px 0;
  }
  .img_size {
    width: 410px;
    height: 309px;
  }
  .float_right_img {
    float:right;
  }
  .float_left_img {
    float:left;
  }
}
