body
	margin 0
	padding 0
.bg-head
	background-color #103B3E
.div-logo
	margin 12px 0 8px 20px
/**********tamaños y colores textoo***************/
@media (min-width: 320px)
	.main_content
		width 100%
		padding 0 15px
		margin 30px auto
	.text-14
		font-size 14px
	.text-16
		font-size 16px
	.text-20
		font-size 20px
	.text-24
		font-size 24px
	.text-30
		font-size 30px
	.style-li-legal
		line-height 20px
		margin 0 0 15px 0
	.content-text-legal
		overflow hidden
	.width-35
		width 35%
	.width-50
		width 50%
	.width-65
		width 65%
	.style_lvl
		border-bottom 1px solid #22B37F
		line-height 18px
		overflow hidden
		padding 4px 0
@media (min-width: 1200px)
	.main_content
		width 700px