.text-13 {
  font-size: 13px;
}
.text-14 {
  font-size: 14px;
}
.text-28 {
  font-size: 28px;
}
.text-32 {
  font-size: 32px;
}
.btn-tag-exp {
  color: #21b27f;
}
.btn-tag-exp a {
  text-decoration: none;
  color: #21b27f;
}
.btn-tag-exp:hover {
  color: #21b27f !important;
  text-decoration: underline;
}
.btn-message-exp {
  font-size: 13px;
  padding: 3px 10px;
  cursor: pointer;
  position: relative;
  left: 10px;
}
.btn-message-exp a {
  text-decoration: none;
  color: #869196;
}
.btn-message-exp:hover {
  background: #eef5f5;
  border-radius: 20px;
  padding: 3px 10px;
}
.cnt_result_search_brands {
  padding: 0;
}
.title_col-center {
  margin: 0 0 10px 15px;
  font-size: 16px;
  color: #869196;
}
.textarea-comment {
  display: none;
  margin: 20px 0 0 0;
}
.textarea-comment textarea {
  border: 1px solid #e3e3e3;
  width: 100%;
  padding: 2%;
  height: 180px;
  border-radius: 4px;
  resize: none;
}
.textarea-comment textarea:focus {
  outline: none;
}
.dates_extra {
  display: none;
  font-size: 14px;
  color: #869196;
  border: 1px solid #e2e2e2;
  padding: 20px 0;
  margin: 7px 15px 15px 15px;
}
.dates_extra.dates_comment {
  margin: 0;
}
.btn-publish {
  float: right;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}
.btn-publish a {
  background: #22b37f;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 4px;
}
.btn-publish :hover {
  background: #28d094;
  transition: 1s;
}
.btn-publish button {
  border: 0;
  background: #22b37f;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0;
  border-radius: 4px;
}
.btn-publish button :hover {
  background: #28d094;
  transition: 1s;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-color-grey {
  color: #858584;
}
.row-cnt-search {
  background: #e6ecf1;
  width: 1200px;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  padding: 15px 0;
}
.cnt-search-brand {
  margin: auto;
  background: #fff;
  width: 512px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #e3e3e3;
  color: #00383c;
}
.cnt-search-brand input {
  margin: 0 0 0 20px;
  width: 85%;
  border: 0;
  float: left;
  padding: 7px 0;
  outline: none;
  font-size: 14px;
}
.cnt-search-brand button {
  float: right;
  margin: 10px 0 0 0;
  border: 0;
  outline: none;
  background: transparent;
}
.title_brands {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 5px 0;
  overflow: hidden;
}
.icon-respond-brands {
  float: left;
  margin: 0 5px 0 0;
}
.icon_qualify {
  float: left;
  margin: 0 5px 0 0;
  width: 23px;
  height: 23px;
  border-radius: 25px;
  background: url("../svg/start.svg") #dbe4e4 no-repeat 1px 1px;
}
.icon_qualify a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.icon_qualify:hover {
  background: url("../svg/start.svg") #c9463b no-repeat 1px 1px;
}
.icon_qualify_detail:last-child {
  margin: 0;
}
.icon_qualify_detail {
  float: left;
  margin: 0 7px 0 0;
  width: 44px;
  height: 44px;
  border-radius: 25px;
  background: url("../svg/star_detail.svg") #dbe4e4 no-repeat 0px 0px;
}
.icon_qualify_detail a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.icon_qualify_detail:hover {
  background: url("../svg/star_detail.svg") #c9463b no-repeat 0px 0px;
}
.icon_qualify_detail.total_value_brands {
  width: 33px;
  height: 33px;
  background: url("../svg/star_value-brands.svg") #dbe4e4 no-repeat 2px 2px;
}
.btn-add {
  float: right;
  text-align: center;
  margin: 10px 0 30px 0;
}
.btn-add a {
  background: #22b37f;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 7px 20px;
  border-radius: 4px;
}
.btn-add :hover {
  background: #28d094;
  transition: 1s;
}
.btn-aggrege {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  z-index: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #22b37f;
  padding: 9px 0 8px 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}
.btn-aggrege a {
  display: inline-block;
  color: #22b37f;
  text-decoration: none;
}
.btn-aggrege :hover {
  color: #22b37f;
}
.cnt-road-qualify {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
}
.cnt-head-name-brands {
  float: left;
  width: 60%;
  margin: 0 0 0 75px;
}
.cnt-logo-brands {
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  width: 260px;
  height: 140px;
  float: left;
  text-align: center;
  vertical-align: middle;
  padding: 40px 0 0 0;
}
.cnt-detail_brands {
  float: left;
  margin: 0 0 0 25px;
}
.cnt-head-message {
  float: left;
  position: relative;
}
/*::placeholder {
  color: #C4C7C9;
  opacity: 1;
}

:-ms-input-placeholder {
  color: red;
}

::-ms-input-placeholder {
  color: red;
}

input[type='radio'] + label:before {
  float: left;
}
*/
input[type='radio'] {
  position: absolute;
  left: -1000em;
}
input[type='radio'] + label:before {
  background: url("../svg/select.svg") no-repeat 0 0;
  background-size: 17px;
  content: '';
/* display: inline-block; */
  width: 22px;
  height: 17px;
  position: relative;
  margin: 2px 0 0 0;
  top: -1px;
  float: right;
  cursor: pointer;
}
input[type='radio']:checked + label:before {
  background: url("../svg/deselect.svg") no-repeat 0 0;
}
.radio_select_option {
  border: 1px solid #f00;
  position: relative !important;
  left: 0 !important;
}
.select-ubication-brands {
  overflow: hidden;
  font-size: 14px;
}
.select-ubication-brands select {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #b9c3c8;
  outline: none;
  width: 48%;
  float: left;
  padding: 10px 0 0 21px;
}
.select-ubication-brands select:last-child {
  float: right;
}
.cnt-col-left-porcen {
  float: left;
  width: 20%;
}
.cnt-col-right-porcen {
  float: left;
  width: 80%;
}
.text-percentage {
  float: right;
  width: 10%;
  text-align: right;
}
.rod-qualify {
  background: #eff2f1;
  border-radius: 4px;
  width: 90%;
  height: 20px;
  float: right;
}
@media (min-width: 320px) {
  .text-comment-exp {
    margin: 5px 0 0 23px;
    line-height: 20px;
    font-size: 14px;
  }
  .cnt-head-name-brands {
    float: left;
    width: 100%;
    margin: 0;
  }
  .cnt-logo-brands {
    margin: 0 auto;
    float: none;
  }
  .cnt-detail_brands {
    text-align: center;
    float: initial;
    overflow: hidden;
    width: 100%;
    margin: 0;
  }
  .cnt-head-message {
    left: 0;
    margin: 25px auto 0;
    width: 135px;
    height: 25px;
    text-align: center;
    border: 0;
    padding: 0;
    float: none;
    overflow: hidden;
  }
  .cnt-road-qualify {
    font-size: 12px;
  }
  .rod-qualify {
    background: #eff2f1;
    border-radius: 4px;
    width: 45%;
    height: 20px;
    float: right;
  }
  .row-cnt-search {
    width: 100%;
    padding: 15px;
  }
  .cnt-search-brand {
    width: 100%;
  }
  .cnt-search-brand input {
    margin: 0 0 0 13px;
  }
  .cnt-search-brand button {
    margin: -12px 4px 0 0;
  }
  .message-search {
    padding: 0 0 10px 0;
  }
  .cnt-level {
    background: #d7e6fa;
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    overflow: hidden;
    padding: 15px 15px 100px 15px;
    width: 100%;
    margin: auto;
  }
  .point-level {
    border-right: 1px solid #dbdcdb;
    border-left: 1px solid #dbdcdb;
    border-top: 0;
    border-bottom: 1px solid #dbdcdb;
    background: #fff;
    font-size: 14px;
    color: #0094c9;
    height: 125px;
    text-align: center;
    padding: 90px 0 0 0;
    border-radius: 0 0 4px 4px;
  }
  .point-level a {
    color: #21b27f;
  }
  .cnt-squere-point {
    overflow: hidden;
    position: relative;
    top: -202px;
    margin: auto;
    width: 318px;
  }
  .cnt-squere-point .squeres {
    width: 100px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dbdcdb;
    float: left;
    margin: 0 0 0 9px;
    font-size: 14px;
    color: #2d3c3f;
    text-align: center;
    padding: 20px 0;
  }
  .cnt-squere-point .squeres:first-child {
    margin: 0;
  }
  .btn-add {
    width: 100%;
    float: inherit;
    padding: 0 10px;
  }
  .title_brands_relations {
    background: #e9f0f5;
    font-size: 22px;
    font-weight: bold;
    color: #3b4244;
    padding: 10px 15px;
    width: 280px;
  }
  .title_brands_relations.title_brands_movil {
    width: 100%;
  }
  .name_user {
    color: #3b4244;
    font-size: 14px;
    float: left;
  }
  .name_user a {
    color: #3b4244;
  }
  .cnt-value_brands {
    float: none;
    margin: 15px auto 0;
    overflow: hidden;
    width: 250px;
  }
  .cnt-value_brands.size-middle-star {
    width: 205px;
    margin: 0 auto 10px;
  }
  .cnt-values_exp {
    padding-bottom: 70px;
    width: 100%;
    padding: 15px;
    float: left;
    margin: 15px 0 0 0;
    background: #fff;
    border-radius: 4px;
  }
  .filter-branch {
    border: 1px solid #d6e5f4;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #449ad8;
    float: right;
    padding: 5px 10px;
    outline: none;
    background: #f5f7f7;
    width: 170px;
    margin: -20px 15px 0 0;
    cursor: pointer;
  }
  .input_load_brands {
    border: none;
    padding: 20px 0 5px 25px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    outline: none;
    font-size: 14px;
    margin: 0 0 20px 0;
  }
  .cnt-col-left-porcen {
    width: 35%;
  }
  .cnt-col-right-porcen {
    float: left;
    width: 65%;
  }
  .text-percentage {
    width: 15%;
  }
  .rod-qualify {
    width: 85%;
  }
}
@media (min-width: 576px) {
  .cnt_result_search_brands {
    padding: 0 15px;
  }
  .text-comment-exp {
    font-size: 14px;
  }
  .cnt-search-brand {
    width: 512px;
  }
  .cnt-search-brand button {
    margin: 10px 0 0 0;
  }
  .cnt-level {
    width: 340px;
  }
  .btn-add {
    float: right;
    width: auto;
    padding: 0;
  }
  .row-cnt-search {
    display: inherit;
  }
  .title_brands_relations {
    width: 100%;
  }
  .cnt-value_brands {
    margin: 0 auto;
  }
  .cnt-road-qualify {
    font-size: 16px;
  }
  .cnt-col-left-porcen {
    width: 29%;
  }
  .cnt-col-right-porcen {
    float: left;
    width: 71%;
  }
  .text-percentage {
    width: 10%;
  }
  .rod-qualify {
    width: 90%;
  }
}
@media (min-width: 770px) {
  .cnt-col-left-porcen {
    width: 32%;
  }
  .cnt-col-right-porcen {
    float: left;
    width: 68%;
  }
  .text-percentage {
    width: 15%;
  }
  .rod-qualify {
    width: 85%;
  }
  .btn-publish {
    width: auto;
    margin: 0;
  }
}
@media (min-width: 1240px) {
  .cnt-search-brand {
    position: relative;
    left: -52px;
  }
  .message-search {
    position: relative;
    left: -52px;
  }
  .row-cnt-search {
    width: 1200px;
    display: inherit;
    margin: 0 auto 10px;
  }
  .cnt-values_exp {
    padding: 30px 70px;
    margin: 0 0 15px 0;
  }
  .cnt-head-name-brands {
    float: left;
    width: 60%;
    margin: 0 0 0 75px;
  }
  .cnt-logo-brands {
    width: 260px;
    height: 140px;
    float: left;
    text-align: center;
    padding: 40px 0 0 0;
  }
  .cnt-detail_brands {
    float: left;
    margin: 0 0 0 25px;
    width: auto;
    text-align: left;
  }
  .cnt-head-message {
    float: left;
    height: auto;
    padding: 30px 15px 20px 15px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    width: 335px;
    position: relative;
    left: 50px;
    text-align: left;
  }
  .cnt-col-left-porcen {
    width: 20%;
  }
  .cnt-col-right-porcen {
    float: left;
    width: 80%;
  }
  .text-percentage {
    width: 10%;
  }
  .rod-qualify {
    width: 90%;
  }
}
