.avatar_user_fundator {
  width: 92px;
  height: 92px;
  overflow: hidden;
  margin: 30px auto 15px;
}
.btn-follow_fundator {
  font-size: 14px;
  border: 1px solid #22b37f;
  border-radius: 4px;
  color: #22b37f;
  width: max-content;
  margin: 15px auto 30px;
}
.btn-follow_fundator a {
  color: #22b37f !important;
  padding: 7px 18px;
  text-decoration: none !important;
  color: #22b37f;
  width: 100%;
  display: inline-block;
}
.btn-follow_fundator a:hover {
  text-decoration: none;
  color: #22b37f !important;
}
.cnt-main_fundator {
  overflow: hidden;
  padding: 30px 0;
}
.icon_svg_fundator {
  float: left;
  font-size: 12px;
  text-align: center;
  padding: 2px 10px 0 8px;
  border-right: 1px solid #dcdcdc;
}
.icon_svg_fundator:last-child {
  border: 0;
}
.cnt_col_user {
  background: #fff;
  width: 100%;
  border-radius: 4px;
  margin: 0 0 10px 0;
}
.filter-branch {
  border: 1px solid #d6e5f4;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  color: #449ad8;
  float: right;
  padding: 7px 18px;
  outline: none;
  background: #f5f7f7;
  width: 170px;
  margin: -5px 15px 0 0;
  cursor: pointer;
}
@media (min-width: 576px) {
  .cnt-main_fundator {
    padding: 30px 56px;
  }
  .cnt_col_user {
    width: 48%;
    margin: 0 10px 10px 0;
  }
  .filter-branch {
    margin: -5px 23px 0 0;
  }
}
@media (min-width: 850px) {
  .cnt_col_user {
    width: 19%;
  }
}
